In [1]:
import pandas as pd
import numpy as np
from geopy.distance import geodesic
from tqdm.notebook import tqdm

In [2]:
bounds = {
    'x': (13.47, 17.75),
    'y': (42.9, 45.67),
}

n_points = 250

df = pd.DataFrame({'x': [], 'y': []})

all_y = np.linspace(bounds['y'][0], bounds['y'][1], n_points)
all_x = np.linspace(bounds['x'][0], bounds['x'][1], n_points)

all_points = np.array(np.meshgrid(all_x, all_y)).T.reshape(-1, 2)

df = pd.DataFrame(all_points, columns=['x', 'y'])
df

           x          y
0      13.47  42.900000
1      13.47  42.911124
2      13.47  42.922249
3      13.47  42.933373
4      13.47  42.944498
...      ...        ...
62495  17.75  45.625502
62496  17.75  45.636627
62497  17.75  45.647751
62498  17.75  45.658876
62499  17.75  45.670000

[62500 rows x 2 columns]

In [3]:
df.to_csv('data/test_points.csv', index=False)

In [4]:
bounds = {
    'x': (14.47, 18.534),
    'y': (42.392, 44.704),
}

n_points = 250

df = pd.DataFrame({'x': [], 'y': []})

all_y = np.linspace(bounds['y'][0], bounds['y'][1], n_points)
all_x = np.linspace(bounds['x'][0], bounds['x'][1], n_points)

all_points = np.array(np.meshgrid(all_x, all_y)).T.reshape(-1, 2)

df = pd.DataFrame(all_points, columns=['x', 'y'])
df

            x          y
0      14.470  42.392000
1      14.470  42.401285
2      14.470  42.410570
3      14.470  42.419855
4      14.470  42.429141
...       ...        ...
62495  18.534  44.666859
62496  18.534  44.676145
62497  18.534  44.685430
62498  18.534  44.694715
62499  18.534  44.704000

[62500 rows x 2 columns]

In [5]:
prev = None
ver_distances = []

for i, row in tqdm(df.iterrows(), total=len(df), desc='Calculating vertical distances'):
    if prev is not None:
        ver_distances.append(geodesic((prev['y'], prev['x']), (row['y'], row['x'])).m)
    prev = row

vdist = pd.DataFrame(ver_distances, columns=['distance'])
vdist = vdist[vdist['distance'] < 1500]

prev = None
hor_distance = []

hor_df = df.copy().sort_values(by=['y', 'x'])

for i, row in tqdm(hor_df.iterrows(), total=len(hor_df), desc='Calculating horizontal distances'):
    if prev is not None:
        hor_distance.append(geodesic((prev['y'], prev['x']), (row['y'], row['x'])).m)
    prev = row

hdist = pd.DataFrame(hor_distance, columns=['distance'])
hdist = hdist[hdist['distance'] < 1500]

avg_vertical_dist = np.sqrt(hdist["distance"].mean()**2 + vdist["distance"].mean()**2)

Calculating vertical distances:   0%|          | 0/62500 [00:00<?, ?it/s]

Calculating horizontal distances:   0%|          | 0/62500 [00:00<?, ?it/s]

In [6]:
print(f'Average vertical distance (m): {vdist["distance"].mean()}')
print(f'Average horizontal distance (m): {hdist["distance"].mean()}')
print(f'Average diagonal distance (m): {avg_vertical_dist}')

Average vertical distance (m): 1031.6109579001693
Average horizontal distance (m): 1318.8744130342463
Average diagonal distance (m): 1674.4106084876948

In [ ]:
df.to_csv('data/test_points_spec.csv', index=False)