In [6]:
import pandas as pd
import numpy as np

In [7]:
bounds = {
    'x': (13.47, 17.75),
    'y': (42.9, 45.67),
}

n_points = 250

df = pd.DataFrame({'x': [], 'y': []})

all_y = np.linspace(bounds['y'][0], bounds['y'][1], n_points)
all_x = np.linspace(bounds['x'][0], bounds['x'][1], n_points)

all_points = np.array(np.meshgrid(all_x, all_y)).T.reshape(-1, 2)

df = pd.DataFrame(all_points, columns=['x', 'y'])
df

           x          y
0      13.47  42.900000
1      13.47  42.911124
2      13.47  42.922249
3      13.47  42.933373
4      13.47  42.944498
...      ...        ...
62495  17.75  45.625502
62496  17.75  45.636627
62497  17.75  45.647751
62498  17.75  45.658876
62499  17.75  45.670000

[62500 rows x 2 columns]

In [8]:
df.to_csv('data/test_points.csv', index=False)

In [9]:
bounds = {
    'x': (14.47, 18.534),
    'y': (42.392, 44.704),
}

n_points = 250

df = pd.DataFrame({'x': [], 'y': []})

all_y = np.linspace(bounds['y'][0], bounds['y'][1], n_points)
all_x = np.linspace(bounds['x'][0], bounds['x'][1], n_points)

all_points = np.array(np.meshgrid(all_x, all_y)).T.reshape(-1, 2)

df = pd.DataFrame(all_points, columns=['x', 'y'])
df

            x          y
0      14.470  42.392000
1      14.470  42.401285
2      14.470  42.410570
3      14.470  42.419855
4      14.470  42.429141
...       ...        ...
62495  18.534  44.666859
62496  18.534  44.676145
62497  18.534  44.685430
62498  18.534  44.694715
62499  18.534  44.704000

[62500 rows x 2 columns]

In [10]:
df.to_csv('data/test_points_spec.csv', index=False)