In [102]:
import numpy as np
import pandas as pd
import xgboost as xgb
from pathlib import Path
import warnings

warnings.filterwarnings('ignore')

data_path = Path().cwd() / 'data'

In [103]:
test_sites = pd.read_excel(data_path / 'test_points_250_augmented.xls', engine='calamine')

for col in test_sites.columns:
    if 'NEAR_FID' in col:
        test_sites.drop(columns=[col], inplace=True)

print(test_sites.shape)
test_sites.head()

(62500, 30)

,OBJECTID,x,y,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,WAW_2018_010m_E45N24_03035_v020,WAW_2018_010m_E46N23_03035_v020,WAW_2018_010m_E46N24_03035_v020,WAW_2018_010m_E46N25_03035_v020,...,WAW_2018_010m_E48N26_03035_v020,WAW_2018_010m_E49N21_03035_v020,WAW_2018_010m_E49N22_03035_v020,WAW_2018_010m_E49N24_03035_v020,WAW_2018_010m_E49N25_03035_v020,WAW_2018_010m_E50N21_03035_v020,WAW_2018_010m_E50N22_03035_v020,WAW_2018_010m_E50N24_03035_v020,WAW_2018_010m_E50N25_03035_v020,RASTERVALU
0,1,13.47,42.900000,207093.263943,46226.866869,34265.278322,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,684.918945
1,2,13.47,42.911124,205993.497244,47071.385234,33931.780558,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,714.755615
2,3,13.47,42.922249,204895.278855,46452.892775,33639.451597,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,643.646973
3,4,13.47,42.933373,203798.633851,45363.522840,33361.113072,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,721.607910
4,5,13.47,42.944498,202703.587813,44281.842118,33053.372197,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,668.033020

In [104]:
def clean_waw(df: pd.DataFrame):
    wcols = [col for col in df.columns if 'WAW' in col]
    waw = df[wcols + ['OBJECTID']]
    df.drop(columns=wcols, inplace=True)
    
    waw['Wetness'] = waw[waw.drop(['OBJECTID'], axis=1).columns].apply(
        lambda x: ''.join(x.dropna().astype(str)), 
        axis=1
    )
    
    waw = waw[waw['Wetness'] != ''][['OBJECTID', 'Wetness']]
    waw['Wetness'] = waw['Wetness'].astype(float).astype(np.uint8)
    return pd.merge(df, waw, on='OBJECTID', how='inner')

In [105]:
test_cleaned = clean_waw(test_sites)
test_cleaned

,OBJECTID,x,y,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,RASTERVALU,Wetness
0,2305,14.638835,42.900000,264085.099158,56892.951994,54210.207719,NaN,255
1,2306,14.638835,42.911124,263214.289583,57499.260687,54760.100889,NaN,255
2,2307,14.638835,42.922249,262346.407780,58124.344920,55294.040077,NaN,255
3,2308,14.638835,42.933373,261481.482935,58768.598461,55827.978331,NaN,255
4,2309,14.638835,42.944498,260619.544523,59431.570137,56361.915634,NaN,255
...,...,...,...,...,...,...,...,...
54504,62496,17.750000,45.625502,105027.866058,17814.128968,231236.263512,180.351395,0
54505,62497,17.750000,45.636627,104132.352826,16739.232836,232037.548592,142.631439,0
54506,62498,17.750000,45.647751,103243.877082,15687.704093,232842.641684,194.935699,0
54507,62499,17.750000,45.658876,102362.622161,14660.426707,233651.503463,204.853287,0
54508,62500,17.750000,45.670000,101488.776255,13667.831348,234464.094962,153.258362,0

In [106]:
display(test_cleaned.isna().sum().to_frame().T)

test_cleaned.fillna(0, inplace=True)

display(test_cleaned.isna().sum().to_frame().T)

,OBJECTID,x,y,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,RASTERVALU,Wetness
0,0,0,0,0,0,0,20101,0

,OBJECTID,x,y,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,RASTERVALU,Wetness
0,0,0,0,0,0,0,0,0

In [107]:
known_sites = pd.read_excel(data_path / 'known_sites_augmented.xls', engine='calamine')

known_sites.rename(columns={
        i: i.replace('sites_XYTableToPoint_', '') for i in known_sites.columns if 'sites_XYTableToPoint_' in i
    }, inplace=True)

known_sites.rename(columns={
    'Elevation__Masl_': 'Elevation'
    }, inplace=True)

known_sites.drop(columns=['Dd', 'Dms'] + [col for col in known_sites.columns if 'NEAR_FID' in col], inplace=True)

print(known_sites.shape)
known_sites.head()

(47, 37)

,OBJECTID,Site_Name,Geographical_Region,Geographical_Location,Elevation,Period_New,Site_Type,Dd_ns,Dd_ew,NEAR_DIST_Chert,...,WAW_2018_010m_E48N25_03035_v020,WAW_2018_010m_E48N26_03035_v020,WAW_2018_010m_E49N21_03035_v020,WAW_2018_010m_E49N22_03035_v020,WAW_2018_010m_E49N24_03035_v020,WAW_2018_010m_E49N25_03035_v020,WAW_2018_010m_E50N21_03035_v020,WAW_2018_010m_E50N22_03035_v020,WAW_2018_010m_E50N24_03035_v020,WAW_2018_010m_E50N25_03035_v020
0,1,Abri Kontija 002,Istra,Limski kanal,46.0,UP,RS,45.137500,13.718611,247901.167568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Abri Šebrn,NaN,NaN,750.0,MES,RS,45.337712,14.162687,235748.803581,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Brjgućeva Loza 1 (Loza),Istra,Kastav,510.0,MES,C,45.467778,14.242222,241293.250685,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Bukovac,NaN,NaN,864.0,UP,C,45.346569,14.756238,204549.089663,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Campanož,NaN,NaN,NaN,MP,O,44.849045,13.899990,215799.109406,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
known_sites_cleaned = clean_waw(known_sites).drop(columns=['Geographical_Region', 'Geographical_Location'])

print(known_sites_cleaned.shape)
known_sites_cleaned.head()

(47, 13)

,OBJECTID,Site_Name,Elevation,Period_New,Site_Type,Dd_ns,Dd_ew,NEAR_DIST_Chert,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,RASTERVALU,Wetness
0,1,Abri Kontija 002,46.0,UP,RS,45.137500,13.718611,247901.167568,80993.524258,73640.087050,7612.808936,46.136692,0
1,2,Abri Šebrn,750.0,MES,RS,45.337712,14.162687,235748.803581,98999.561639,44437.690620,9921.595682,732.561707,0
2,3,Brjgućeva Loza 1 (Loza),510.0,MES,C,45.467778,14.242222,241293.250685,101016.428031,34876.914519,14119.067154,432.515076,0
3,4,Bukovac,864.0,UP,C,45.346569,14.756238,204549.089663,143240.912311,13416.969148,15491.977574,791.070129,0
4,5,Campanož,NaN,MP,O,44.849045,13.899990,215799.109406,114332.595817,94426.986888,2230.743465,43.708790,0

In [109]:
cols = known_sites_cleaned.columns
known_sites_cleaned = known_sites_cleaned[cols[:3].to_list() + [cols[-2]] + cols[3:-2].to_list() + [cols[-1]]]
known_sites_cleaned.head()

,OBJECTID,Site_Name,Elevation,RASTERVALU,Period_New,Site_Type,Dd_ns,Dd_ew,NEAR_DIST_Chert,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,Wetness
0,1,Abri Kontija 002,46.0,46.136692,UP,RS,45.137500,13.718611,247901.167568,80993.524258,73640.087050,7612.808936,0
1,2,Abri Šebrn,750.0,732.561707,MES,RS,45.337712,14.162687,235748.803581,98999.561639,44437.690620,9921.595682,0
2,3,Brjgućeva Loza 1 (Loza),510.0,432.515076,MES,C,45.467778,14.242222,241293.250685,101016.428031,34876.914519,14119.067154,0
3,4,Bukovac,864.0,791.070129,UP,C,45.346569,14.756238,204549.089663,143240.912311,13416.969148,15491.977574,0
4,5,Campanož,NaN,43.708790,MP,O,44.849045,13.899990,215799.109406,114332.595817,94426.986888,2230.743465,0

In [110]:
known_sites_cleaned.isna().sum().to_frame().T

,OBJECTID,Site_Name,Elevation,RASTERVALU,Period_New,Site_Type,Dd_ns,Dd_ew,NEAR_DIST_Chert,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,Wetness
0,0,0,12,5,0,0,0,0,0,0,0,0,0

In [111]:
known_sites_cleaned.Elevation.fillna(known_sites_cleaned.RASTERVALU, inplace=True)

known_sites_cleaned

,OBJECTID,Site_Name,Elevation,RASTERVALU,Period_New,Site_Type,Dd_ns,Dd_ew,NEAR_DIST_Chert,NEAR_DIST_Canals,NEAR_DIST_River_Net,NEAR_DIST_Coastal,Wetness
0,1,Abri Kontija 002,46.000000,46.136692,UP,RS,45.137500,13.718611,247901.167568,80993.524258,73640.087050,7612.808936,0
1,2,Abri Šebrn,750.000000,732.561707,MES,RS,45.337712,14.162687,235748.803581,98999.561639,44437.690620,9921.595682,0
2,3,Brjgućeva Loza 1 (Loza),510.000000,432.515076,MES,C,45.467778,14.242222,241293.250685,101016.428031,34876.914519,14119.067154,0
3,4,Bukovac,864.000000,791.070129,UP,C,45.346569,14.756238,204549.089663,143240.912311,13416.969148,15491.977574,0
4,5,Campanož,43.708790,43.708790,MP,O,44.849045,13.899990,215799.109406,114332.595817,94426.986888,2230.743465,0
5,6,Cerovačke pećine,624.000000,596.050293,UP,C,44.274628,15.884619,55816.576622,230558.124333,13364.401168,27505.569553,0
6,7,Giljanovići (Karanušići),154.000000,370.460022,MP,O,43.940833,16.426389,8763.044136,263072.737065,24402.718149,43623.324044,4
7,8,Glavičica,295.000000,297.810455,"UP, MES",O,43.749998,16.666664,16125.218641,283521.439121,128.942963,28440.487128,0
8,9,Gospodska špilja,430.000000,424.836060,"UP, MES",C,43.983887,16.436379,12714.582519,258279.688979,27729.070919,48470.385061,0
9,10,Igraliste-Dolac,16.000000,16.647577,MP,O,44.142032,14.841416,108346.908403,208949.862435,62981.253902,242.634165,0
10,11,Ivšišće,24.520134,24.520134,UP,O,45.198816,14.098523,229615.033310,100969.707721,56402.829540,9032.250894,0
11,12,Jami na sredi,102.000000,52.862606,MES,C,44.666660,14.466665,169087.564495,159865.009412,60180.963870,2242.682827,0
12,13,Kaštel Štafilić – Resnik,NaN,NaN,MP,underwater,43.538609,16.312500,1015.417553,307995.359885,32011.895604,0.000000,253
13,14,Klanjčeva peć,828.000000,872.622498,"UP, MES",C,45.333050,14.187772,233944.879546,101023.266085,42841.545086,7902.780346,0
14,15,Kopačina cave,280.000000,341.804962,"LUP, MES",C,43.353049,16.552514,4960.723478,322274.983016,16283.969084,3439.111189,0
15,16,"Krševanje polje, Sali",23.944098,23.944098,"MP,UP,MES",O,43.916839,15.154990,73594.575338,239987.590332,53236.680674,91.850254,0
16,17,Lim 001,NaN,NaN,MES,RS,45.133916,13.731182,246911.612526,81981.787300,74303.386795,8223.096752,253
17,18,Ljubićeva pećina,170.000000,193.253708,LUP,C,44.971800,13.951898,221892.824957,107006.480994,81614.812642,6584.171801,0
18,19,Lopar,20.000000,77.727386,"UP, MES",O,44.833333,14.750000,164142.625069,166006.416391,37582.604374,340.311413,0
19,20,Malo Polje Krban,19.260384,19.260384,MP,O,43.525783,16.264043,1100.235621,309598.338527,36075.488942,421.096336,0
20,21,Mujina pećina,260.000000,43.181072,MP,C,43.525775,16.244627,1516.954994,309684.214652,37630.906593,924.156515,0
21,22,Okruglo,297.810455,297.810455,"UP, MES",O,43.750000,16.666667,16125.508022,283521.111193,129.186084,28440.804905,0
22,23,Panjorovica/Panđerovica Veli Rat,8.000000,6.848802,MP,O,44.150237,14.827839,109760.311095,207681.326635,62936.151156,378.911507,0
23,24,Pećina na Gradini,393.000000,310.115326,EUP,C,45.333332,14.499993,216549.206854,124243.673966,22827.055656,2382.657946,0
24,25,Pećina kod Rovinjskog Sela 1,71.000000,99.617897,"LUP, MES",C,45.126527,13.703193,247940.859038,80989.241048,74487.350950,5920.852677,0
25,26,Pećina u Brini zapadna,250.000000,443.155518,UP,C,43.833331,16.166664,15386.116678,276040.804312,17249.593138,23503.165074,0
26,27,Podosojna peć,335.000000,947.815369,MES,C,45.260578,14.198106,227981.751358,104832.974734,46066.475890,5139.917317,0
27,28,Podumci kod Unešića,295.000000,437.297821,MES,O,43.716667,16.133333,15547.831158,289188.546432,24696.729915,14569.474237,0
28,29,Polje,4.000000,2.933673,MP,O,44.134675,14.861064,106591.594746,210670.266998,62695.434565,77.846921,0
29,30,Ražanac cluster,102.495941,102.495941,MP,O,44.253355,15.402970,84960.700280,240851.826880,23953.173334,495.456951,0
30,31,Romualdova pećina,110.000000,60.497437,"MP, EUP, LUP",C,45.136331,13.654845,251462.610421,77563.259735,72524.502562,4077.963352,0
31,32,Savudrija,5.337913,5.337913,MES,O,45.501000,13.505000,286946.056347,44428.287617,30535.279575,67.922653,0
32,33,"Stipanac, Prokljansko Jezero",NaN,NaN,MP,underwater,43.816660,15.866655,27591.807756,280916.740849,13648.016031,9414.608788,253
33,34,Straža,20.000000,22.127819,MP,O,44.140877,14.835754,108643.248861,208539.576298,63359.695949,140.241024,0
34,35,Šandalja II,72.000000,58.747875,UP,C,44.882492,13.896656,218422.055966,111307.467109,91816.507433,3843.915771,0
35,36,Uvala čuna-Darstalo,1.000000,NaN,MP,O,44.135599,14.856929,106920.806456,210324.479034,62807.505004,0.000000,253
36,37,Uvala Jaz-Polje,1.000000,NaN,MP,O,44.135395,14.860817,106654.086647,210632.166421,62642.319611,0.000000,0
37,38,Valačin žal- Uvala Podlokvanj,2.000000,0.028626,MP,O,44.159398,14.824865,110545.248464,207216.820971,62297.692034,24.303937,0
38,39,Vela Spila Korčula,130.000000,121.023857,"UP, MES",C,42.970325,16.718319,1409.275742,347978.719535,52210.121861,434.986087,0
39,40,Vela Jama/spilja na Lošinju,450.000000,299.411102,"MP, UP, MES",C,44.671849,14.355378,175796.552672,153139.189031,68794.150482,935.033241,0
40,41,Velika pećina Kličevica,125.000000,122.749153,"MP, EUP",C,44.030832,15.558308,59221.739116,262257.910763,21483.647715,12973.428215,0
41,42,Vergotinova pećina,85.000000,92.716667,"UP, MES",C,45.284167,13.655270,262892.876393,66593.109933,56599.365672,4000.124985,0
42,43,Vorganjska peć,251.000000,31.882753,MP,C,44.975890,14.738947,175174.403405,157072.010656,44336.242348,1302.346362,0
43,44,Vlakno,38.000000,14.104102,"UP, MES",O,44.036743,15.028027,89393.220467,226363.682808,56155.250186,98.568997,0
44,45,Zametska pećina,140.000000,147.718292,UP,C,45.346731,14.386030,223804.339613,115262.490702,28493.833741,996.177126,0
45,46,Zapuntelsko polje,28.055592,28.055592,UP,O,44.249722,14.807778,117738.899999,203833.285641,55929.511322,928.227203,0
46,47,Zemunica,591.057983,591.057983,"LUP, MES",C,43.563169,16.673991,14937.567129,298220.154725,2709.862711,12781.874307,0